## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=Schedule %p jobs

[Service]
# This would be a one-shot service in quirks mode; in ideal mode it is a simple.
#ExecStartPre=on_ac_power
ExecStart=%p -d -s

[Install]
