## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=Daily APT download
After=static-networking.target

[Service]
# This would be a one-shot service in quirks mode; in ideal mode it is a simple.
#ExecStartPre=on_ac_power
ExecStart=/usr/lib/apt/apt-helper wait-online
ExecStart=/usr/lib/apt/apt.systemd.daily update

[Install]
