## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=Daily APT upgrade and clean activities
After=apt-daily-update.service

[Service]
# This would be a one-shot service in quirks mode; in ideal mode it is a simple.
#ExecStartPre=on_ac_power
ExecStart=/usr/lib/apt/apt.systemd.daily install

[Install]
