## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=Chrony NTP daemon
Conflicts=ntpd.service openntpd.service sntpclock.service systemd-timesyncd.service taiclock.service VBoxService.service vmtoolsd.service
Before=system-time-synchronized.target
After=persistent-clock-loaded.target

[Service]
ExecStart=%pd -d

[Install]
WantedBy=workstation.target
