## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=ConsoleKit daemon

[Service]
Type=dbus
BusName=org.freedesktop.ConsoleKit
ExecStart=%p --no-daemon

[Install]
WantedBy=workstation.target
