## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=Combined logger for console-ugen-hid-realizer@ services

[Service]
User=%p
SessionLeader=yes
WorkingDirectory=/var/log/sv
ExecStart=cyclog console-ugen-hid-realizer/
RestartSec=1

[Install]
WantedBy=workstation.target
