## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=%p daemon
DefaultDependencies=false
Before=shutdown.target remote-fs-pre.target
After=local-fs.target
Before=plug-and-play-manager.target

[Service]
ExecStart=%p -f

[Install]
WantedBy=sysinit.target
StoppedBy=shutdown.target
