## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=Save/restore randomness
Before=netif sshd ssh-keygen

[Service]
# This would be a one-shot service in quirks mode; in ideal mode it is a simple.
EnvironmentDirectory=env
ExecStartPre=./helper load
# Re-generate the saved randomness as soon as it has been used to re-seed.
ExecStartPre=./helper save
# Regularly refresh the saved randomness as the system is running.
ExecStart=./helper savemore
ExecStopPost=./helper save
UMask=0377

[Install]
WantedBy=workstation.target
