## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=Generic FTP socket for IP4

[Socket]
Backlog=2
ListenStream=0:ftp
Accept=true
MaxConnections=2
UCSPIRules=true
LogUCSPIRules=yes
NoDelay=false

[Install]
WantedBy=server.target
