## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=GNOME display manager
Wants=polkitd.service

[Service]
EnvironmentDirectory=env
BusName=org.gnome.DisplayManager
ExecStartPre=/usr/share/gdm/generate-config
ExecRestartPre=/usr/share/gdm/generate-config
ExecStart=%p -nodaemon

[Install]
WantedBy=workstation.target
