## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=GeoClue2 Service

[Service]
Type=dbus
BusName=org.freedesktop.GeoClue2
EnvironmentDirectory=env
Restart=no

[Install]
