## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description="HAL" daemon
After=local-syslog.target extra-shared-libraries.target
Wants=plug-and-play-manager.target
After=plug-and-play-manager.target

[Service]
Type=dbus
RuntimeDirectory=%p
RuntimeDirectoryMode=0770
RuntimeDirectoryOwner=haldaemon
ExecStart=%p --daemon=no ${verbose:+--verbose="${verbose}"} ${flags}

[Install]
WantedBy=workstation.target
