## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=BSD IPF initialization/shutdown
Before=server.target networking.target

[Service]
EnvironmentDirectory=env
ExecStart=%p -E
ExecStart=%p -Fa -f "${rules}" ${flags}
ExecStart=%p -6 -f "${rules}" ${flags}
ExecStopPost=%p -D
# This is a pseudo-daemon that does not have a running process.
RemainAfterExit=yes
Restart=no

[Install]
WantedBy=workstation.target
