## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=KDE display manager
After=hald genkdmconf

[Service]
EnvironmentDirectory=env
ExecStart=%p -nodaemon

[Install]
WantedBy=workstation.target
