## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=Light display manager

[Service]
BusName=org.freedesktop.DisplayManager
ExecStart=%p

[Install]
WantedBy=workstation.target
