## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=MogileFS tracker daemon

[Service]
User=%p
SessionLeader=yes
ExecStart=%p
Restart=no

[Install]
WantedBy=server.target
