## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=IPv6 mroute daemon

[Service]
EnvironmentDirectory=env
# FIXME: Should this be pim6dd?
ExecStart=%p

[Install]
WantedBy=server.target
