## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=%p sysinit service
Before=local-priv-rsyslogd.service local-priv-syslogd.service local-rsyslogd.service local-syslogd.service udp-rsyslogd.service udp-syslogd.service syslogd.service local-syslog.target

[Service]
# This would be a one-shot service in quirks mode; in ideal mode it is a simple.
EnvironmentDirectory=env
ExecStart=%p -v

[Install]
WantedBy=workstation.target
