## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=NTP daemon
Conflicts=chrony.service openntpd.service sntpclock.service systemd-timesyncd.service taiclock.service VBoxService.service vmtoolsd.service
Before=system-time-synchronized.target
After=persistent-clock-loaded.target

[Service]
EnvironmentDirectory=env
ExecStart=%p --nofork ${panicgate} ${user:+-u "${user}${group:+:${group}}"} ${logfile:+--logfile "${logfile}"} ${config:+--configfile "${config}"} ${flags}

[Install]
WantedBy=workstation.target
