## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=OpenBSD NTP daemon
Conflicts=chrony.service ntpd.service systemd-timesyncd.service sntpclock.service taiclock.service VBoxService.service vmtoolsd.service
Before=system-time-synchronized.target
After=persistent-clock-loaded.target

[Service]
Type=forking
EnvironmentDirectory=env
ExecStart=ntpd -d ${config:+-f "${config}"} ${flags}
RestartSec=60

[Install]
WantedBy=workstation.target
