## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=Invoke %p at startup and weekly thereafter

[Timer]
OnBootSec=1h
OnActiveSec=2h
OnUnitActiveSec=1w

[Install]
WantedBy=workstation.target
