## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=Bernstein's qmail SMTP Submission daemon

[Service]
EnvironmentDirectory=env
LimitMEMORY=70000000
User=qmaild
SessionLeader=yes
ExecStart=qmail-smtpd

[Install]
WantedBy=server.target
