## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=Listening socket for the SunRPC port mapping daemon

[Socket]
ListenStream=%t/%p.sock
# The program cannot itself cope with dual-stack listening sockets.
BindIPv6Only=ipv6-only
ListenStream=0.0.0.0:sunrpc
ListenDatagram=0.0.0.0:sunrpc
ListenStream=[::]:sunrpc
ListenDatagram=[::]:sunrpc

[Install]
WantedBy=server.target
