## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=rsync server socket

[Socket]
ListenStream=rsync
BindIPv6Only=both
Accept=true

[Install]
WantedBy=server.target
