## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=%p daemon
Documentation=https://fedoraproject.org/wiki/Features/BetterHostname
Before=hostname.target

[Service]
Type=dbus
BusName=org.freedesktop.hostname1
ExecStart=/lib/systemd/%p
Restart=on-abort

[Install]
WantedBy=workstation.target
