## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=Network Time Synchronization
Conflicts=chrony.service ntpd.service openntpd.service sntpclock.service taiclock.service VBoxService.service vmtoolsd.service
Before=system-time-synchronized.target
After=persistent-clock-loaded.target
RequiresMountsFor=/var/lib/systemd/clock

[Service]
ExecStart=/lib/systemd/%p
EnvironmentDirectory=env
PrivateTmp=yes
PrivateDevices=yes
ProtectSystem=full
ProtectHome=yes
ProtectControlGroups=yes
ProtectKernelTunables=yes

[Install]
WantedBy=workstation.target
