## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=%p daemon

[Service]
Type=dbus
BusName=org.freedesktop.login1
RuntimeDirectory=systemd/seats
RuntimeDirectoryMode=0755
ExecStart=/lib/systemd/%p
LimitNOFILE=16384
TasksMax=10

[Install]
WantedBy=workstation.target
