## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=%p daemon

[Service]
Type=dbus
BusName=org.freedesktop.locale1
ExecStart=/lib/systemd/%p
Restart=on-abort

[Install]
WantedBy=workstation.target
