## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=systemd(-compatible) %p service

[Service]
Type=dbus
BusName=org.freedesktop.timedate1
ExecStart=%p

[Install]
WantedBy=workstation.target
