## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=UDisks2 daemon
Documentation=https://storaged.org/doc/udisks2-api/latest/
After=local-syslog.target polkitd.service

[Service]
Type=dbus
BusName=org.freedesktop.UDisks2
ExecStart=/usr/lib/%p/udisksd

[Install]
# TODO: This might be better as graphical.
WantedBy=workstation.target
