## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=UPower daemon
Documentation=https://upower.freedesktop.org
After=local-syslog.target

[Service]
Type=dbus
BusName=org.freedesktop.UPower

[Install]
# TODO: This might be better as graphical.
WantedBy=workstation.target
