## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=utmps utmp socket

[Socket]
Backlog=2
#MaxConnections=2
ListenStream=%t/utmps/.utmpd-socket
Accept=on

[Install]
WantedBy=workstation.target
