## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=VirtualBox guest additions daemon
Conflicts=chrony.service ntpd.service openntpd.service systemd-timesyncd.service sntpclock.service taiclock.service vmtoolsd.service
Before=system-time-synchronized.target
After=persistent-clock-loaded.target
# This daemon secretly uses Desktop Bus.
After=dbus

[Service]
ExecStart=%p -f
RestartSec=5

[Install]
WantedBy=virtualbox-guest.target
