## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=BSD volume manager daemon
Wants=plug-and-play-manager.target
After=plug-and-play-manager.target

[Service]
ProcessGroupLeader=true
ExecStart=%p daemon

[Install]
WantedBy=workstation.target
