## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=xorg display manager

[Service]
ExecStart=%p -nodaemon

[Install]
WantedBy=workstation.target
