## **************************************************************************
## For copyright and licensing terms, see the file named COPYING.
## **************************************************************************

[Unit]
Description=User-space virtual terminal realizer on BSD Generic USB (ugen) device %I
#After=console-input-method@.service
Conflicts=uhidd@%i.service

[Service]
PermissionsStartOnly=yes
EnvironmentDirectory=env/
EnvironmentUserOnly=true
User=user-vt-usb-realizer
Group=user-vt-realizer
#ExecStartPre=detach-kernel-usb-driver '/dev/%I'
#ExecStartPre=chmod g+rw '/dev/%I'
#ExecStartPre=chown :user-vt-realizer '/dev/%I'
#ExecStartPre=chmod g+w '/dev/consolectl'
#ExecStartPre=chown :user-vt-realizer '/dev/consolectl'
ExecStart=%p ${flags} '/dev/%I'
# When the device is not a HID, the daemon exits failure.
# When a device detaches, the daemon exits success.
# There is a window of opportunity of several seconds where devd/devpubd has not yet stopped the service during which re-opening the device and restarting the daemon will continually fail.
# We don't want the daemon auto-restarting in either case.
# But we do want a SIGTERM to auto-restart it.
Restart=on-signal

[Install]
